services:
  reverse-proxy:
    build: ./reverse-proxy
    ports:
      - "8080:80"          # Local entrypoint
    depends_on:
      - api
      - frontend

  api:
    build:
      context: ./src/CustomerBackend
      dockerfile: Dockerfile
    expose:
      - "8080"
    env_file:
      - .env
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ASPNETCORE_ENVIRONMENT: "Development"
      MONGO_CONNECTION_STRING: "mongodb://dev:pass@mongo:27017"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./src/KitchenFrontend
      dockerfile: Dockerfile
    expose:
      - "4173"

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: dev
      MONGO_INITDB_ROOT_PASSWORD: pass
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
