services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: dev
      MONGO_INITDB_ROOT_PASSWORD: pass
    volumes:
      - mongo-data:/data/db

  customer-backend:
    env_file:
      - .env
    environment:
      - MONGO_CONNECTION_STRING=mongodb://dev:pass@mongo:27017
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
        - mongo
      

volumes:
  mongo-data:
