services:
  customer-backend:
    build:
      context: .
      dockerfile: src/CustomerBackend/Dockerfile
    ports:
      - "8080:8080"
    env_file:
        - .env
    networks:
      - kitchen-net

networks:
  kitchen-net: