services:
  # Reverse proxy (nginx)
  reverse-proxy:
    build:
     context: ./reverse-proxy
     dockerfile: Dockerfile.local
    ports:
      - "8080:80"
    depends_on:
      - api
      - frontend
    environment:
      API_ORIGIN: http://api:8080
      FRONTEND_ORIGIN: http://frontend:4173

  # CustomerBackend
  api:
    build:
      context: ./src
      dockerfile: CustomerBackend/Dockerfile.local
    expose:
      - "8080"
    env_file:
      - .env
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ASPNETCORE_ENVIRONMENT: "Development"
      DatabaseSettings__DatabaseName: "kc-dev"
      DatabaseSettings__ConnectionString: "mongodb://dev:pass@mongo:27017"
      MONGO_CONNECTION_STRING: "mongodb://dev:pass@mongo:27017"

      FIREBASE_API_KEY: ${FIREBASE_API_KEY}
      FIREBASE_CREDENTIALS_B64: ${FIREBASE_CREDENTIALS_B64}


    depends_on:
      - mongo

  # KitchenBackend
  frontend:
    build:
      context: .
      dockerfile: /src/KitchenFrontend/Dockerfile
    ports:
      - "5173:5173"

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: dev
      MONGO_INITDB_ROOT_PASSWORD: pass
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
