services:
  customer-backend:
    build:
      context: ./CustomerBackend/    
#      context: ..
#      dockerfile: ./kitchen-compass-sln/CustomerBackend/Dockerfile
    ports:
      - "8080:8080"
    env_file:
        - .env
    networks:
      - kitchen-net

networks:
  kitchen-net: