name: CI Workflow
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: src/global.json

      - name: Restore dependencies
        run: dotnet restore ./src/CustomerBackend

      - name: Build backend application
        run: dotnet build ./src/CustomerBackend
